.connection-page {
  margin: 50px auto 0;
  max-width: 1200px;

  .connected {
    h2 {
      margin-top: 100px;
      text-align: center;
      font-size: 2rem;
    }
    .deconnect {
      margin: 3rem 2rem 0 2rem;
      text-align: center;
    }
    li {
      text-align: center;
      cursor: pointer;
      border-radius: 20px;
      padding: 10px 20px;
      transition: 0.2s;
    }
  }

  .log-container {
    margin: 0 auto;
    display: grid;

    .connection-form {
      border: none;
      background: rgba($color-4, 0.85);
      min-width: 320px;
      width: 90%;
      text-align: center;
      margin: 0 auto;
      padding: 20px;
      border-radius: 0.5rem;
      @media screen and(max-width: 500px) {
        width: 100%;
      }

      .btn-container {
        width: 50%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0.6rem;
        @media screen and(max-width: 900px) {
          width: 100%;
        }
        button {
          margin: 0 1rem;
          cursor: pointer;
          padding: 0.5rem;
          &:focus {
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.829);
          }
        }
        .active-btn {
          background: $color-1;
          border-radius: 0.5rem;
          color: $color-4;

          &:hover {
            background: $color-2;
          }
        }
      }

      form {
        margin: 1rem 0;
        input {
          padding: 14px 20px;
          margin: 0;
          font-size: 1rem;
          font-family: $font-3;
          border-radius: 20px;
        }
        input[type="text"] {
          background-color: $white;
          color: $black;
        }
        input[type="password"] {
          background-color: $white;
          color: $black;
        }
        a {
          color: rgb(62, 62, 214);
        }
      }
    }
  }
}
