.home {
  // background: url(../../../public/img/icon.png) center/cover;
  &__color {
    h2 {
      font-size: 2rem;
      margin: 50px;
    }
    // background-color: rgba($cream, 0.5);

    margin: 50px auto 50px;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .thread-container {
      width: 70%;
      @media screen and(max-width: 700px) {
        width: 95%;
      }
    }
  }
}
