.home {
  // background: url(../../../public/img/icon.png) center/cover;
  &__color {
    background-color: rgba($cream, 0.5);

    margin: 50px auto 50px;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .thread-container {
      width: 70%;
    }
  }
}
