.post-card {
  background: #eeeffd;
  border: 2px solid #fdfdfd;
  border-radius: 0.8rem;
  box-shadow: 0 0 6px rgba(51, 51, 51, 0.315);
  padding: 1rem;
  margin: 1rem auto;
  width: 90%;

  .top-part {
    display: flex;
    justify-content: space-between;

    .user-part {
      display: flex;
      align-items: center;
      min-width: 100px;
      h3 {
        margin: 0 0 0 10px;
      }
      .user-pic {
        width: 45px;
        height: 45px;
        img {
          border-radius: 2rem;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .like-part {
      margin: auto 0;
      button {
        background: transparent;
        color: inherit;
        font-family: inherit;
        padding: 0;
        font-size: inherit;
      }
    }
  }
  .content-part {
    height: 100%;
    button {
      font-size: 0.8rem;
      margin: 0.5rem;
    }
    .content-text {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      p {
        background-color: $cream;
        border-radius: 0.5rem;
        padding: 1rem;
        font-family: $font-3;
        margin: 1rem auto;
        box-shadow: 0 0 6px rgba(51, 51, 51, 0.089);
      }
      button {
        width: 100px;
      }
    }
    .delete-btn {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      button {
        width: 100px;
      }
    }
    .post-pic {
      margin: 1rem auto;
      width: 70%;
      @media screen and(max-width: 1200px) {
        width: 90%;
      }

      img {
        border-radius: 0.5rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .post-video {
      margin: 1rem auto;
      width: 40%;
      height: 100%;
      @media screen and(max-width: 1200px) {
        width: 90%;
      }
      iframe {
        border-radius: 0.2rem;
        width: 100%;
        height: 250px;
      }
    }
    .textarea-container-update {
      margin: 1rem auto;
      width: 50%;
      height: 4rem;
      textarea {
        background-color: $cream;
        min-width: 220px;
        padding: 0.3rem;
        border-radius: 0.2rem;
        font-size: 1rem;
        font-family: $font-3;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 4px rgba(0, 22, 44, 0.1);
        &:focus {
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.37);
        }
      }
    }
  }
  .comment-part {
    padding: 0.5rem;

    form {
      padding: 0.5rem;
      input[type="text"] {
        cursor: text;
        color: black;
        background-color: $white;
        min-width: 220px;
        max-width: 500px;
        padding: 0.5rem;
        border-radius: 0.2rem;
        font-size: 1rem;
        font-family: $font-3;
        width: 100%;
        height: 100%;
        margin: 0.5rem;
        box-shadow: 0 0 4px rgba(0, 22, 44, 0.1);
        &:focus {
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.37);
        }
      }
    }
  }
}
