@font-face {
  font-family: "font-1";
  src: url(./assets/fonts/Raleway-ExtraLight.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(./assets/fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: "font-3";
  src: url(./assets/fonts/Raleway-Bold.ttf);
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", serif;
$font-3: "font-3", serif;

$color-1: #3a47fc;
$color-2: #c4c8ff;
$color-3: rgb(0, 3, 5);
$color-4: #eeeffd;
$color-logo: rgba(216, 90, 90, 0.644);
$black: rgb(27, 27, 27);
$white: rgb(253, 253, 253);
$cream: rgb(250, 241, 235);
$shadow: rgb(218, 218, 219);

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;

  &::selection {
    background: $color-1;
  }
}
body {
  background: url(../../public/img/icon.png) fixed;
  // background-color: rgba($black, 0.1);
  font-family: $font-2;
  line-height: 1.4rem;
  // background: $cream;
  color: $color-3;
}
.error {
  color: red;
  font-weight: bold;
}
.success {
  color: green;
  font-weight: bold;
}

a,
a:visited {
  color: $color-3;
}
button,
input {
  background: $color-2;
  color: $color-1;
  font-family: $font-3;
  cursor: pointer;
  transition: 0.2s;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.3rem;

  &:focus {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.582);
  }

  &:hover {
    background: $color-1;
    color: $color-2;
  }
}
textarea {
  resize: none;
  font-family: $font-2;
  background: $white;
}
// textarea {
//   &:focus {
//     box-shadow: 0 0 4px rgba(0, 0, 0, 0.712);
//   }
// }
// i {
//   transition: 0.15s;

//   &:hover {
//     transform: scale(1.1);
//   }
// }
